The content-length of the Response does not follow RFC 7230

Currently, Iron always sends a content length header with the client when there's no body.

However, as per [RFC 7230 [section 3.3.2]](https://tools.ietf.org/html/rfc7230#section-3.3.2), there're certain cases that the web server should not send a content length header or the content length in the header does not match the actual length of the content.

    A server MAY send a Content-Length header field in a 304 (Not
    Modified) response to a conditional GET request (Section 4.1 of
    [RFC7232]); a server MUST NOT send Content-Length in such a response
    unless its field-value equals the decimal number of octets that would
    have been sent in the payload body of a 200 (OK) response to the same
    request.

For such a case, Iron always responds `0`, even override manually.

Iron Version: 0.5.1
Rust Version: Stable 1.16.0

Should be fixed by #523.