BREW method

Under `::iron::method`, one does not find the method `BREW`, specified by [RFC7168§2.1](https://tools.ietf.org/html/rfc7168#section-2.1). As this RFC is approved and published for international use, Iron should also follow it.